@* Views/Shared/_Navbar.cshtml *@
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="~/Content/capi.png" width="80" height="80" class="d-inline-block align-top" alt="Logo">
            <div class="descripcion">
                <p>  Gestión de Libros</p>
                <p>  GRUPO CLS</p>
            </div>
            
            
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Prestamos">Préstamos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Libros">Libros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/GenerosLiterarios">Géneros Literarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Autores">Autores</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
