
@{
    ViewBag.Title = "Index";
}


<div class="container-home">
    @*<div class="header">*@



        <div class="img-home">
            <img src="~/Content/img.jpg" alt="Imagen de biblioteca" />
        </div>

        <div class="title-home">
            <h1>Bienvenido a tu gestor de préstamos de libros</h1>
            <p>Sistema de Gestión de libros, control de prestámos y clientes.</p>
        </div>

    @*</div>*@
    
</div>


<!-- Agrega jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Agrega los scripts de Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
