
@{
    ViewBag.Title = "Index";
}


<div class="container-home">
    @*<div class="header">*@



        <div class="img-home">
            <img src="~/Content/img.jpg" alt="Imagen de biblioteca" />
        </div>

        <div class="title-home">
            <h1>Bienvenido a tu gestor de préstamos de libros</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

    @*</div>*@
    
</div>


<!-- Agrega jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Agrega los scripts de Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
