/* Content/site.css */
.navbar-brand img {
    width: 50px;
    height: auto;
}

.nav-item .nav-link {
    color: #000;
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
    padding: 10px 15px; /* Añade padding para el efecto del cuadro */
    border-radius: 5px; /* Añade bordes redondeados */
}

    .nav-item .nav-link:hover {
        background-color: #004400;
        color: #fff;
    }

.nav-item.active .nav-link {
    background-color: #004400;
    color: #fff;
}

.navbar {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white; /* Asegura que el fondo sea blanco */
}

body {
    padding-top: 70px; /* Altura de la navbar para que no cubra el contenido */
}

.descripcion p{
    font-size:5px
}